<div data-sly-use.author="com.mysite.core.models.Author"></div>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicons/favicon.ico">

    <title>Bootcamp Blog</title>

    <link rel="canonical" href="homepage.html">

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
	<link hreef="dist/css/custom.css"
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>

  <body>
    <main role="main" class="container">
        <img src="/content/dam/homepageasset/hero-banner.jpg" class="banner" alt="Bootcamp Banner">
        <div class="row">
          <div class="col-md-8 blog-main">
              </div>
              </div>
              </main>
              </body>
              </html>