<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Coffee</title>
    <link rel="stylesheet" href="form.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style = "background: url(back.jpg);
                 background-size:100%;
                 background-repeat: no-repeat;">
    <div class="signup-box">
      <h1>COFFEE ORDER DETAILS</h1>
      <form>
        <label>NAME:*</label>
        <input type="text" placeholder="" />
        <label>COFFEE TYPE:</label>
        <input2 type="coffeetype" placeholder="" />
        <select id="coffee" name="coffee">
            <option value="latte">LATTEE</option>
            <option value="black">BLACK</option>
            <option value="CAPACINO">CAPACINO</option>
            <option value="RAGE">RAGE</option>
        </select>
        <label>SIZE:*</label>
        <select id="product" name="product">
            <option value="Formoid">SMALL</option>
            <option value="web">MEDIUM</option>
            <option value="Mobile">LARGE</option>
        </select>
        <label>QUANTITY:</label>
        <input2 type="coffeetype" placeholder="" />
        <select id="coffee" name="coffee">
            <option value="latte">1</option>
            <option value="black">2</option>
            <option value="CAPACINO">3</option>
            <option value="RAGE">4</option>
        </select>
    <div class="bt-btn">
        <button type="submit" class="btn btn-dark">PLACE ORDER</button>
      </div>
      </form>
    </div>
  </body>
</html>