<div data-sly-use.author="com.mysite.core.models.Author"></div>
 <p class="align-center">
		<a href="/apps/mysite/components/HomePageHeader">Back to top</a>
    </p>
<footer class="blog-footer">
		<div class="row">
            <div class="col-xs-12 col-sm-12 ">
                <div class="footer__block">
                    <a target="" href="${author.firstName}" aria-label="PwC office locations">HomePage</a></t>
					<a target="" href="${author.firstName}" aria-label="PwC office locations">Blogs</a>
                </div>
            </div>
        </div>
		<p>© 2022  - 2023 TTN Bootcamp. All rights reserved.</p>

    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
 <!--   <script src="/apps/mysite/clientlibs/HomePageLib/jslib/Homepage.js"></script> -->
  <!--  <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
-->
